body {
  font-family: "Work Sans", sans-serif;
}
#hero {
  max-width: 1920px;
  height: 936px;
  background-image: url(../assets/hero-bg.png);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
* {
  margin: 0;
  padding: 0;
}
.hero-container {
  width: 1023px;
  height: 448px;
}
#hero .hero-container .subtitle {
  font-weight: 600;
  color: #ffffff;
  text-align: center;
  font-size: 32px;
  line-height: normal;
}
